.box {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    background-color: white;
    padding: 30px;
}

body {
    margin-top: 230px;
    background-color: bisque;
}

table,
tr,
td {
    padding: 10px;
}

h1 {
    color: aqua;
}

button {
    border-radius: 100%;
}

.bot {
    border: 1px solid black;
    width: max-content;
}

a {
    text-decoration: none;
}

.bot:hover {
    background-color: #ffa3fd;
}